@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    transition: 0.4s ease-out;
    background-color: #0261bf;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
}
.header-logo img{
    width: 75px;
}

.header-nav a{
    margin-left: 40px;
    color: #fff;
    cursor: pointer;
}
/* contain */
.contain{
    margin-left: 80px;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    display: flex;
    position: relative;
}

.contant-text{
    max-width: 600px;
}
.contant-text h2{
    font-size: 55px;
    font-weight: 800;
    color: #fff;
}
.contant-text h2 span{
    font-size: 110px;
    line-height: 80px;
    font-weight: 900;
}
.contant-text p{
    color: #fff;

}
.contant-text > span{
    color: #000;
    padding: 6px 20px;
    border-radius: 20px;
    font-weight: 500;
    background-color: #fff;
    margin-top: 15px;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
}
.contain-img{
    margin-top: 50px;
    margin-left: 13rem;
    display: block;
}

.contain-img img{
    width: 250px;

}
.contain-social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 1%;   
    top: 50%; 
}
.contain-social a {
    padding: 10px 0; 
    display: inline-block;
    transform: scale(0.7);
    filter: invert(1); 
}
.footer-thumb{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.footer-thumb a{
    padding: 0  20px;
    transition: 0.5s ease;
    cursor: pointer;
}
.footer-thumb a:hover{
    transform: translateY(-15px);
}
.footer-thumb a img{
    display: inline-block;
    width: 40px;
} 